.vscode/
.env
models/*
runs/
output*/

build/

**/__pycache__
*.pyc

# Finetuning
finetuning/logs/
finetuning/phi3-*
finetuning/raw_examples.txt

mesh_pipeline/data/*
mesh_pipeline/.vscode/*
habitat-sim/semantic_captures/*
mesh_pipeline/outputs/*

docs/
CLAUDE.md